[submodule "src/static/quotes"]
	path = src/static/quotes
	url = https://github.com/monkeytypegame/monkeytype.git

[submodule "monkeytype"]
	path = src/static/mt-submodule
	url = https://github.com/monkeytypegame/monkeytype.git

