:root {
    --body-color: #E4E9F7;
    --text-color: #000;
    --input-background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color 1s ease;
}

.success {
    color: #07c944;
}

body.dark {
    --body-color: #18191A;
    --text-color: white;
    --input-background-color: #333333;
    color: var(--text-color);
}


.dark-light {
    left: 0px;
    transform: translate(-40%, 0%);
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    padding-top: 2rem;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#quote {
    font-size: 20px;
    margin-bottom: 20px;
}

#inputBox {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;

    box-sizing: border-box;
    background-color: var(--input-background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: background-color 1s ease;
}

#timerDisplay {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    border: 1px solid var(--text-color);
}

@keyframes shrinkAndGrow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.shrink-animation {
    animation: shrinkAndGrow 0.5s;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.7);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

#resultImg {
    position: absolute;
    height: 50%;
    width: 30%;
    left: 70%;
    animation: slide-in 1s forwards;
    transform: translate(-100%, 0%);
}

@keyframes slide-in {
    from {
        top: -200px;
    }

    to {
        top: 50%;
        transform: translate(0%, -50%);
    }
}

.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

@media (max-width: 768px) {

    /* For mobile devices with a maximum width of 768px */
    #resultImg {
        position: relative;
        top: -100vh;
        left: 50%;
        width: 50%;
        transform: translate(-100%, 0%);
    }

    .stats {
        font-size: 12px;
    }

    #quote-label label {
        font-size: 12px;
    }

    .modal-content {
        width: 90%;
    }

    .radio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .radio-container label {
        align-items: center;
        font-size: 12px;
        margin-right: 10px;
        cursor: pointer;
    }

    @keyframes slide-in {
        from {
            top: -100vh;
        }

        to {
            transform: translate(-100%, 0%);
            top: 1vh;
        }
    }
}

.radio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.radio-container label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.radio-container input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    transform: translate(-21%, -21%);
    transition: background-color 0.2s ease-in-out;
}

.radio-container input[type="radio"]:checked::before {
    background-color: #8BC34A;
}

.radio-container input[type="radio"]:hover:not(:checked)::before {
    background-color: rgb(160, 210, 160);
}

.hidden {
    display: none;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    flex: 1;
    text-align: center;
}

.error {
    color: red;
}

.flash-out-green {
    animation: flash-green 0.5s ease-out;
}

.flash-out-red {
    animation: flash-red 1s ease-out;
}

@keyframes flash-red {
    0% {
        color: red;
    }

    100% {
        color: var(--text-color);
    }
}

@keyframes flash-green {
    0% {
        color: #00FF00;
    }

    100% {
        color: var(--text-color);
    }
}

#capslockWarning {
    display: none;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.button:not(:last-child) {
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

.modal input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.modal .button {
    display: block;
    margin-top: 10px;
    margin-right: 0px;
}