:root {
    --body-color: #E4E9F7;
    --text-color: #000;
    --input-background-color: #fff;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif, Arial;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color 1s ease;
}

::selection {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar {
    display: none;
}

.correct {
    color: #07c944;
}

.incorrect {
    color: red;
}

body.dark {
    --body-color: #18191A;
    --text-color: white;
    --input-background-color: #333333;
    color: var(--text-color);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.dark-light {
    left: 0px;
    transform: translate(-40%, 0%);
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.github {
    right: 0px;
    transform: translate(33%, 0%);
    margin: 0px;
    padding: 0px;
}

.github i {
    margin: 0px;
    padding: 0px;
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    padding-top: 2rem;
}

#quote {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.word {
    position: relative;
    display: inline;
    margin-right: 5px;
    font-variant-ligatures: none;
    /* Adjust this value to control the spacing between words */
}

.letter {
    display: inline;
    margin-right: 2px;
    font-variant-ligatures: none;
    /* Adjust this value to control the spacing between letters */
}

.highlight {
    transform: translate3d(0, 0, 0);
    font-weight: bold;
    animation: font-size-highlight 1.5s ease forwards;
}

.highlight-category {
    transform: translate3d(0, 0, 0);
    animation: font-size-category 1.5s ease forwards;
}

@keyframes font-size-highlight {
    to {
        font-size: 36px;
    }
}

@keyframes font-size-category {
    to {
        font-size: 24px;
    }
}

#inputBox {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--input-background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: background-color 1s ease;
}

#categoryDisplay {
    padding-top: 2rem;
    transform: translate3d(0, 0, 0);
}

#smoothCursor {
    cursor: pointer;
    user-select: none;
}

.cursor {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1.5em;
    width: 2px;
    background-color: #4CAF50;
    transition: top 0.25s ease-out;
    pointer-events: none;
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor.active {
    animation: cursor-active 1s forwards;
}

@keyframes cursor-active {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

#timerDisplay {
    margin-bottom: 20px;
}

#clearButton {
    display: none;
}

.shrink-animation {
    animation: shrinkAndGrow 0.5s;
}

@keyframes shrinkAndGrow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(15, 95, 240, 0.7);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

#resultImg {
    position: absolute;
    height: 50%;
    width: 30%;
    left: 70%;
    user-select: none;
    animation: slide-in 1s forwards;
    transform: translate3d(0, 0, 0);
    transform: translate(-100%, 0%);
}


@keyframes slide-in {
    from {
        top: -200px;
    }

    to {
        top: 50%;
        transform: translate(0%, -50%);
    }
}

.modal-content {
    background-color: rgb(255, 255, 255, 0.8);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-height: 100vh;
}

.radio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio-container label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.radio-container input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
}

.radio-container input[type="radio"]:checked::before {
    background-color: var(--text-color);

}

.radio-container input[type="radio"]:hover:not(:checked)::before {
    background-color: rgba(192, 192, 192, 0.5);
}

.hidden {
    display: none;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.stat {
    flex: 1;
    text-align: center;
}

.error {
    text-decoration: underline;
    text-decoration-color: rgb(156, 2, 2, 0.5);
}

.flash-out-green {
    animation: flash-green 0.85s ease;
}

.flash-out-red {
    animation: flash-red 1s ease;
}

@keyframes flash-red {
    0% {
        color: red;
    }

    100% {
        color: var(--text-color);
    }
}

@keyframes flash-green {
    0% {
        color: #00ff00;
    }

    100% {
        color: var(--text-color);
    }
}

#capslockWarning {
    display: none;
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px min(2vw, 20px);
    background-color: var(--input-background-color);
    color: var(--text-color);
    transition: background-color 1s ease;
    border: 1px solid var(--text-color);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 30px rgba(15, 95, 240, 0.7)
}

.button:not(:last-child) {
    margin-right: min(1vw, 10px);
}

.button:active {
    color: rgba(15, 95, 240, 1);
    outline: none;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

.modal input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
    border: #000 1px solid;
    box-sizing: border-box;
}

.modal .button {
    display: block;
    margin-top: 10px;
    margin-right: 0px;
    width: 100%;
}

@media (max-width: 768px) {

    /* For mobile devices with a maximum width of 768px */
    #resultImg {
        position: relative;
        top: -100vh;
        left: 70%;
        width: 70%;
        transform: translate(-100%, 0%);
    }

    .stat,
    .stats {
        font-size: 12px;
    }

    // Add 1s delay for font highlight animation in mobile
    .highlight {
        animation: font-size-highlight 1.5s ease 1s forwards;
    }

    .highlight-category {
        animation: font-size-category 1.5s ease 1s forwards;
    }

    @keyframes font-size-highlight {
        to {
            font-size: 24px;
        }
    }

    @keyframes font-size-category {
        to {
            font-size: 16px;
        }
    }

    .modal-content {
        width: 90%;
        top: 20%;
    }

    .radio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .radio-container label {
        align-items: center;
        font-size: 12px;
        margin-right: 10px;
        cursor: pointer;
    }

    @keyframes slide-in {
        from {
            top: -100vh;
        }

        to {
            transform: translate(-100%, 0%);
            top: 1vh;
        }
    }
}